body {
    font-family: "Lora", sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

.heading {
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
}

#logo-container {
    width: 360px;
    margin: auto;
}

.logo {
    width: 306px;
    height: 153px;
}

#logo-claim {
    margin:auto;
    padding: 15px;
}

#login {
    background-image: url('../images/pattMagic.webp');
    width: 85%;
    max-width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    height: 50vh;
}

.form-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    width: 260px;
    height: 50px;
    border-radius: 10px;
    font-size: x-large;
}

.wizard {
    background-image: url('../images/pattMagic.webp'); 
    width: 85%;
    max-width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 10px;
}



/*make disappear elements*/

.display-none {
    display: none;
}

.display-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Buttons */

.buttons {
    border-radius: 10px;
    border: 3px solid;
    width: 260px;
    height: 100px;
    font-family: "Lora", sans-serif;
    font-size: 1.5rem;
    color: white;
    margin: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

#hero {
    background-color: rgb(255, 166, 0);
}
#hero:hover {
    background-color: rgb(255, 222, 92);
}

#genre{
    background-color: rgb(92, 0, 172);
}
#genre:hover {
    background-color: rgb(148, 69, 168);
}

#environment {
    background-color: rgb(61, 106, 255);
}
#environment:hover {
    background-color: rgb(99, 166, 253);
}

#shuffle {
    background-color: rgb(255, 168, 251);
}
#shuffle:hover {
    background-color: rgb(247, 231, 250);
}

#play {
    background-color: rgb(22, 134, 0);
}
#play:hover {
    background-color: rgb(100, 206, 119);
}

#logme {
    background-color: rgb(0, 134, 136);
}
#play:hover {
    background-color: rgb(2, 198, 202);
}

#reset {
    background-color: rgb(136, 0, 75);
}
#reset:hover {
    background-color: rgb(215, 0, 118);
}



/* Instructions */

#instructions {
    background: rgb(136, 0, 75);
    color: #fff;
    text-align: left;
    border-radius: 10px;
    width: 85%;
    max-width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    height: 50vh;
}

#question-btn {
    width: 45px;
    height: 45px;
    background: rgb(136, 0, 75);
    color: #fff;
    border-radius: 50%;
    border: 3px;
    border-color: #000;
    font-size: large;
}

#instructions p {
    padding-left: 20px;
    padding-right: 20px;
}

#instructions button {
    width: 90px;
    height: 25px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    border: 3px;
    border-color: #000;
    font-size: medium;
}



/* Story Area */

.story {
    background: rgb(255, 255, 255);
    width: 85%;
    max-width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
}

.stories {
    background-image: url('../images/pattMagic.webp'); 
    width: 85%;
    max-width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 50vh;
}

.story-title {
    font-size: 2rem;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 85%;
}



/*Resize for screen 1000px down*/

@media screen and (max-width: 768px) {

    #login {
        max-width: 306px;
        height:50vh
    }
    
    #wizard-area {
        max-width: 306px;   
        height: auto;     
    }

    .stories {
        height: 70vh;
    }

}



/*Resize for screen 500px down*/

.stories {
    height: auto;
    padding-top: 20px;
}






