body {
    
    font-family: "Lora", sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    /* background-image: url("assets/images/watercolor_pattern.webp");
    background-repeat: repeat;
    background-size: 1600px 840px; */
    
}

.heading {
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
}

#logo-container {
    width: 360px;
    margin: auto;
}

.logo {
    width: 85%;
    
}

#logo-claim {
    margin:auto;
}

#wizard-area {
    background: rgb(32, 0, 70);
    /* background-image: url('../images/backgroundpattern.webp'); */
    width: 85%;
    max-width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Buttons */


.buttons {
    border-radius: 10px;
    border: 3px solid;
    width: 260px;
    height: 100px;
    font-family: "Lora", sans-serif;
    font-size: 1.5rem;
    color: white;
    margin: 10px;
    transition: all 0.5s;
}







#hero {
    background-color: rgb(255, 166, 0);
}
#hero:hover {
    background-color: rgb(255, 222, 92);
}

#genre{
    background-color: rgb(92, 0, 172);
}
#genre:hover {
    background-color: rgb(148, 69, 168);
}
#environment {
    background-color: rgb(61, 106, 255);
}
#environment:hover {
    background-color: rgb(99, 166, 253);
}

#shuffle {
    background-color: rgb(255, 168, 251);
}
#shuffle:hover {
    background-color: rgb(247, 231, 250);
}
#play {
    background-color: rgb(22, 134, 0);
}
#play:hover {
    background-color: rgb(100, 206, 119);
}

/* Story Area */

#story-area {
    display: none;
}

.story-title {
    font-size: 2rem;
}

/*Resize for screen 1000px down*/

@media screen and (max-width: 768px) {

    #wizard-area {
        max-width: 306px;   
        height: auto;     
    }
}






